extends layout.pug

block head
  title You have been invited as a staff at #{appName}

block body
  p
    | You have been invited as a staff at #{appName}. Click 
    a(href=url) here
    |  to view invitation.
