extends layout.pug

block head
  title You have been invited to join the school #{schoolName}

block body
  p You have been invited to join the school #{schoolName}.
  br
  a.button(href=url) Accept Invite
