extends _layout.pug

block head
  title Reset password

block body
  p We received a request to reset the password for your account.
  br
  a.button(href=apiURL + "/api/reset/" + token) Reset Password
